# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
.terraformrc
terraform.rc
terraform.tfvars
!terraform.tfvars.example
.terraform.lock.hcl
localstack_override.tf

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/
dist/
.pytest_cache/
test-results.xml

# Docker
.docker/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
